.footer {
  background-color: rgb(150, 217, 250);
  color: white;
  text-align: center;
  padding: 1em 0;
  position:relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
