.contentContainerHome {
    border: 1px solid #ccc;
    padding: 0;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(44, 62, 80, 0.1), rgba(0, 0, 0, 0.5));
  }

.home {
    height: auto;  
    padding: 30px 0;  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #96d9fa98, #96d9fa10);
  }

  .textHome{
    padding: 0.5em 2em;
  }
/*------------ Media Queries-----------*/
@media (max-width: 1600px) {
  .contentContainer .textHome {
    padding: 10em;    
}
  .home {    
    padding: 50px 0;
  }
}
@media (max-width: 1200px) {
  .contentContainer .textHome {
    padding: 5em;    
}
  .home {    
    padding: 3em;
  }
}
@media (max-width: 1024px) {
  .contentContainer .textHome {
    padding: 3em;    
}
  .home {    
    padding: 3em;
  }
}
@media (max-width: 768px) {
  .contentContainer .textHome {
    padding: 2em;    
}
  .home {    
    padding: 3em ;
  }
}
@media (max-width: 480px) {
  .contentContainer .textHome {
    padding: 1em;    
}
  .home {    
    padding: 2em;
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
}