.buttonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; 
  width: 150px;
}

.container {
  overflow: hidden;
  background: linear-gradient(to right, #96d9fa98, #96d9fa10);
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 85vh;
  max-width: 100%;
}

.container div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  border:1px solid #000;
  align-content: center;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 25%;
  justify-content: center;
  max-width: 25%;
  background-color: rgba(240, 248, 255, 0.5);
  color: black;
  border-radius: 15px;
  padding: 1em;
  min-height: auto;
}
.card button:hover  {
  background-color: rhgba(0, 0, 0, 0.7);
}
.card div {
  margin-bottom: 0.05em;
}

.buttonFilter,
.clear-filter-button {
  height: 40px;
  width: 150px;
  margin: 0.5em;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  background-color: black;
  border: none;
}

.buttonFilter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.item {
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.backgroundDetalleProducto{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.detalleProducto {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 10%; 
  padding: 1em;
}

.containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imgProductDetalles{
  max-width: 100%;
  max-height: 100%;
}

.botonIncDec{
  font-size: 0.8em;
  margin-bottom: 0.3em;
  margin-right: 6px;
  margin-left: 6px;
}
.buttonAdd{
  max-width: 80%;
  max-height: fit-content;
  border-radius: 10px
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    padding: 1em;
    flex: 0 0 100%;
    max-width: 70%;
  }

  .containerimg {
    margin-left: 0;
    justify-content: center;
  }

  .imgProductDetalles {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .buttonAdd,
  .buttonFilter,
  .clear-filter-button {
    width: 100%;
  }

  .item-list-container {
    padding: 10px;
    margin: 10px;
  }

  .item {
    margin: 5px;
    padding: 10px;
  }

  .detalleProducto {
    padding: 0.5em;
  }
 
  .botonIncDec{
    font-size: 0.8em;
    margin-bottom: 0.3em;
    margin-right: 6px;
    margin-left: 6px;
  }
  .buttonAdd{
    max-width: 80%;
    max-height: fit-content;
    border-radius: 10px
  }
  .card{
    max-width: 80%;
  }
  .buttonFilter--primary{
    display: flex;
    width: 50%;
    height: 40px;
    margin: 0.5em;
    border-radius: 12px; 
    margin-right: auto;
  }
  .buttonFilter--secondary{
    display: flex;
    width: 50%;
    height: 40px;
    margin: 0.1em;
    border-radius: 10px; 
    margin-right: center;
  }
}


.buttonFilter--primary{
  background-color: rgba(128, 128, 128, 0.342)!important;
  display: flex;
  width: 10%;
  height: 1rem;
  margin: 0.5em;
  border-radius: 18px; 
  margin-right: auto;
}

