.container {
  border-top: 1px solid #fff;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #161617;
  min-height: 85vh;
  max-width: 100%;
}

.container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  align-content: center;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 25%;
  justify-content: center;
  align-items: flex-start;
  max-width: 25%;
  background-color: rgba(240, 248, 255, 0.5);
  color: black;
  border-radius: 15px;
  padding: 1em;
  min-height: auto;
}
.card div {
  margin-bottom: 0.05em;
}

.buttonFilter,
.clear-filter-button {
  height: 40px;
  width: 150px;
  margin: 0.5em;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  background-color: transparent;
  border: none;
}

.buttonFilter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.buttonFilter:hover,
.clear-filter-button:hover {
  background-color: rgb(41, 151, 255);
  transform: translateY(-2px);
}

.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.item {
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.detalleProducto {
  margin-top: 20px;
}
