

.navbar{  
    background-color: deepskyblue;  
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin:0;
    width: 95%;
}

button{
    height: 20vh;
    border: 1px solid #fff;
}

button:hover{
    cursor: pointer;
}