.buttonTheme {
  display: flex;
  position: absolute;
  background-color: transparent;
  border:#333;
  color: RGB(255, 200, 0);
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 10;
}

.buttonTheme:hover {
  background-color:RGB(255, 240, 192);
  color: white;
}

.app .light {
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-color: white;
  color: #333;
  button {
    background-color: #333;
    color: #f5f5f5;
  }
  .card {
    background-color: #c5c5c5;    
  }  
}

.app .dark {  
  background: linear-gradient(to bottom, #333333, #1a1a1a);
  background-color: #333;
  .formulario{
    color: #f5f5f5;
  }
  .white-logo {
    filter: brightness(0) invert(1);
  }  
  h2,h3,h4, p{
    color: #f5f5f5;
  }
  button {
    background-color: #f5f5f586;
    color: #333;
  }
}

.app.dark nav ul {
  border-bottom: 1px solid #f5f5f5;
}

.loadingScreen {
  background-color: white;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  padding: 1em;
  text-align: center;
  background-color: inherit;
  color: inherit;
  border-top: 1px solid #ccc;
}

.contentContainer {
  border: 1px solid #ccc;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}
