:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;  
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.cartPosition{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.detalleProducto{
  margin: 0 250px;
  padding: 0 100px;
  background-color:rgba(240, 248, 255, 0.5);
  border-radius: 10px;
  text-align: center;
}

.error-container {
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
}

.error-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.homeNosotros{
  height: 100vh;
  margin: 0 ;
  background-color: hwb(217 4% 20%);
}

.logoCart{
  height: 1.5em;
  width: 1.5em;
}

h2{
  margin: 0;
  text-align: center;
}

.errorFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* o el color de fondo que prefieras */
}

.text{
  padding: 0 250px;
}

