* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #f0f4f8;
  color: #333;
}

.cartPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalleProducto {
  display: flex;
  margin: 0 200px;
  padding: 0 100px;
  background-color: #f0f8ff80;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  width: auto;
}
.detalleProducto .containerimg{
  height: 30vh;
  width: 35vh;
  margin: 0 auto;
}
.error-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.error-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeNosotros {
  height: 100vh;
  margin: 0;
  padding: 30px 0;
  
}

.logoCart {
  height: 2em;
  width: 2em;
}

h2 {
  color: #333;
  margin: 0;
  text-align: center;
}

.errorFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.text {
  padding: 0 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:  #333;
  margin-bottom: 20px;
}

p {
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: f0f8ff80;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.wp-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  cursor: pointer;
}

.logo a:hover {
  background-color: inherit;
}

@media (max-width: 768px) {      

  ul{
    flex-direction: row !important;
    width: 100%;
    height: auto;
  }

  .detalleProducto {
    margin: 0 50px;
    padding: 0 20px;
  }
  .detalleProducto .containerimg{
    width: auto;
  }
  .text {
    padding: 0 50px;
  }

  .homeNosotros {
    height: auto;
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
   .detalleProducto {
    margin: 0 20px;
    padding: 0 10px;
  }

  .text {
    padding: 0 20px;
  }

  button {
    padding: 5px 10px;
  }

  .wp-logo {
    width: 40px;
    height: 40px;
  }

  .homeNosotros {
    height: auto;
    padding: 10px 0;
  }

  .buttonFilter--primary{
    width: 50% !important;
  }
  .card{
    max-width: 80% !important;
  }
}

@media (min-width: 1200px) {
  .detalleProducto {
    margin: 0 300px;
    padding: 0 150px;
  }

  .text {
    padding: 0 300px;
  }

  .homeNosotros {
    padding: 50px 0;
  }

  button {
    padding: 15px 30px;
  }

  .wp-logo {
    width: 60px;
    height: 60px;
  }
}