:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;  
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.cartPosition{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.detalleProducto{
  margin: 0 250px;
  padding: 0 100px;
  background-color: grey;
  border-radius: 10px;
  text-align: center;
}

.logoCart{
  height: 1.5em;
  width: 1.5em;
}

h2{
  text-align: center;
}

.text{
  padding: 0 100px;
}

